<% layout('/layouts/boilerplate') %>

<h1>Here are Your Results!</h1>

<div class="mt-2">
    <% if(!dishes[0]){ %>
    <!-- If there are no dishes -->
    <h4>Sorry we could not find any recipes that match your ingredients...</h4>
    <% } else { %>
    <!-- If there are dishes that match ingredients iterate through and display all -->
    <% for(let dish of dishes){ %>
    <div class="containe ms-0 d-inline-flex" style="width: 20rem">
        <div class="card mt-2 me-2" style="width: 18rem;">
            <img src="<%= dish.imageURL %>" class="card-thumbnail" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= dish.name %></h5>
                <p class="card-text">Ingredients: <% for(ingredient of dish.ingredients){ %>
                    <%= ingredient %>,
                    <% } %></p>
            </div>
            <div class="card-body">
                <a href="<%= dish.recipeURL %>" class="card-link">Get the Recipe Here!</a>
            </div>
        </div>
    </div>
    <% } %>
    <% } %>

    <div class="mt-4">
        <a href="/" class="btn btn-dark btn-lg text-white">Home</a>
    </div>
</div>