.ingredients{
    font-size: 2rem;
}

.fas{
    font-size: 5rem;
    color: #c9ada7;
}

.ingredientBtn{
    width: 17rem;
    height: 15rem;
    color: #4a4e69;
}

.submit{
    color: #22223b;
}

.list-group{
    max-height: 28.9rem;
}

.list-group-item{
    background-color: transparent;
}

.card{
    background-color: transparent;
}